# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea/

# Build dirs
cmake-build-*/
bin/
python/dist/
python/src/hydrobricks.egg-info/
core/docs/html/
core/docs/latex/
build/lib.*
build/temp.*
build/bdist.*
wheelhouse/

# Others
*~$*
**/__pycache__/*
**.egg-info/
**/examples/*.csv
**/examples/*.png
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
*.pyd
