[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "ninja",
    "conan==1.*",
    "cmake>=3.12"
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
known_first_party = ["_hydrobricks", "hydrobricks", "hydrobricks.*"]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = ["-ra", "--showlocals", "--strict-markers", "--strict-config"]
xfail_strict = true
filterwarnings = ["error"]
testpaths = ["python/tests"]

[tool.cibuildwheel]
test-requires = "pytest cftime HydroErr numpy pandas>=2.0 pyyaml StrEnum dask geopandas netCDF4 pyet rasterio rioxarray shapely xarray xarray-spatial"
test-command = "pytest {project}/python/tests"
test-extras = "test"
archs = ["auto64"]
skip = ["*musllinux*", "cp37-*", "cp312-*", "pp*"]
manylinux-x86_64-image = "manylinux_2_28"
manylinux-aarch64-image = "manylinux_2_28"
manylinux-ppc64le-image = "manylinux_2_28"
manylinux-s390x-image = "manylinux_2_28"
manylinux-pypy_x86_64-image = "manylinux_2_28"
manylinux-pypy_aarch64-image = "manylinux_2_28"
build-verbosity = 3

[tool.cibuildwheel.linux]
before-build = [
    "dnf update -y",
    "dnf install epel-release -y",
    "dnf install perl perl-core perl-IPC-Cmd perl-Digest-SHA -y",
    "rm -rf {project}/build/lib.*",
    "rm -rf {project}/build/temp.*",
    "rm -rf {project}/build/bdist.*",
    "pip install conan==1.*",
    "pip show conan",
    "conan profile new default --detect --force",
    "conan remote add gitlab https://gitlab.com/api/v4/packages/conan --force",
    "conan profile update settings.compiler.libcxx=libstdc++11 default",
    "conan config set general.revisions_enabled=1",
    "conan install . --build=missing -s build_type=Release -pr:b=default",
]

[tool.cibuildwheel.windows]
before-build = [
    "pip install conan==1.*",
    "pip show conan",
    "conan profile new default --detect --force",
    "conan remote add gitlab https://gitlab.com/api/v4/packages/conan --force",
    "conan config set general.revisions_enabled=1",
    "conan install . --build=missing -s build_type=Release -pr:b=default",
]

[tool.cibuildwheel.macos]
before-build = [
    "pip install conan==1.*",
    "pip show conan",
    "conan profile new default --detect --force",
    "conan remote add gitlab https://gitlab.com/api/v4/packages/conan --force",
    "conan config set general.revisions_enabled=1",
    "conan install . --build=missing -s build_type=Release -pr:b=default",
]
