name: Core Tests Linux

on: [push]

defaults:
  run:
    shell: bash

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install libraries
      run: sudo apt-get install tree python3

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/bin

    - name: Run CMake and vcpkg
      uses: lukka/run-cmake@v10
      with:
        workflowPreset: "vcpkg"
        buildPresetAdditionalArgs: "['--config Release']"

    - name: Copy test files
      working-directory: ${{github.workspace}}
      run: cp -R core/tests/files/ bin/bin/

    - name: Test
      working-directory: ${{github.workspace}}/bin
      run: tests/hydrobricks-tests

  code-coverage:
    runs-on: ubuntu-latest

    env:
      BUILD_TYPE: RelWithDebInfo
      CODECOV_TOKEN: "7e5ffe21-e668-4910-a2ed-bd6477933127"

    steps:
      - uses: actions/checkout@v4

      - name: Install libraries
        run: sudo apt-get install tree lcov python3

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/bin

      - name: Configure CMake
        working-directory: ${{github.workspace}}/bin
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_CODECOV=1 -DBUILD_PYBINDINGS=0

      - name: Copy test files
        working-directory: ${{github.workspace}}
        run: cp -R core/tests/files/ bin/tests

      - name: Build and run code coverage
        working-directory: ${{github.workspace}}/bin
        run: cmake --build . --config $BUILD_TYPE --target hydrobricks-coverage

      - name: Display code coverage report
        working-directory: ${{github.workspace}}/bin
        run: lcov --list hydrobricks-coverage.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ env.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: core
          files: ${{github.workspace}}/bin/hydrobricks-coverage.info
