name: Python Tests Linux

on: [push]

defaults:
  run:
    shell: bash

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    env:
      VCPKG_LIBRARY_LINKAGE: static

    steps:
    - uses: actions/checkout@v6

    - name: Install system libraries
      run: sudo apt-get install tree

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11

    - name: Get dependencies
      run: vcpkg install

    - name: Install requirements
      run: |
        pip install -r python/requirements.txt
        pip install -r python/requirements-optional.txt

    - name: Install the package
      run: pip install .

    - name: Upload Build Logs
      if: failure() # Only upload logs if the workflow fails
      uses: actions/upload-artifact@v6
      with:
        name: build-logs-${{ matrix.python-version }}
        path: /home/runner/work/hydrobricks/hydrobricks/vcpkg/buildtrees/**/*.log

    - name: Test
      run: pytest ./python/tests

  code-coverage:
    runs-on: ubuntu-latest

    env:
      CODECOV_TOKEN: "7e5ffe21-e668-4910-a2ed-bd6477933127"
      VCPKG_LIBRARY_LINKAGE: static

    steps:
      - uses: actions/checkout@v6

      - name: Install system libraries
        run: sudo apt-get install tree lcov python3

      - name: Install requirements
        run: |
          pip install -r python/requirements.txt
          pip install -r python/requirements-optional.txt
          pip install coverage pytest-cov

      - name: Install the package
        run: pip install .

      - name: Test with coverage
        run: pytest --cov=hydrobricks ./python/tests --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ env.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: python
          files: coverage.xml
